beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Deprecated==1.2.10
idna==2.10
joblib==0.16.0
Markdown==3.2.2
numpy==1.19.0
PyGithub==1.51
PyJWT==1.7.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
soupsieve==2.0.1
threadpoolctl==2.1.0
urllib3==1.25.9
wrapt==1.12.1
